/*
  Important! Note that the path here is
  the one in the generated site, not the working folders.
  Hence, images are in `../assets/` and not in `../_assets/`.

  Cheat Sheet for CSS:
  In `display: flex;`, use
  `jutify-content` for horizontal alignment
  `align-items` for vertical alignment
*/

*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
}

.container{
  height:100vh;
  border:5px solid black;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 50px;
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  background:#dedede;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
}
