<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="icon" href="/assets/favicon.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}


  <!-- normalize css -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- typing effect css -->
  <!-- <link rel="stylesheet" href="/css/typing.css"> -->

  <!-- Loading custom css and fonts-->
  <link rel="stylesheet" href="/fonts/juliamono/juliamono.css">
  <link rel="stylesheet" href="/fonts/ibmplex/css/ibm-plex.min.css">
  <link rel="stylesheet" href="/fonts/spacegrotesk2/spacegrotesk2.css">
  <link rel="stylesheet" href="/css/custom.css">


  <!-- changing light/dark mode -->
	<!-- <script> -->
   <!--    function setStyleSheet(url){ -->
   <!--       var stylesheet = document.getElementById("lightdark"); -->
   <!--       stylesheet.setAttribute('href', url); -->
   <!--    } -->
	<!-- </script> -->

</head>
<body>
  {{insert header.html}}

<!-- Content appended here -->
